/*
  Control Freak Slider Default Styles
  http://cfslider.mckmedia.ca/
  https://bitbucket.org/sherakama/cfslider
*/
/* Image replacements */
.cfs-slider {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: relative; }
  .cfs-slider .cfs-slides {
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow: hidden; }
    .cfs-slider .cfs-slides li {
      list-style-type: none;
      list-style-image: none;
      text-indent: 0; }
    .cfs-slider .cfs-slides > * {
      padding: 0px;
      margin: 0px;
      position: relative;
      /* needed or animation heights get messed */
      display: block;
      /* needed or animation heights get messed */ }
    .cfs-slider .cfs-slides > .cfs-active-slide {
      display: block; }
    .cfs-slider .cfs-slides img {
      max-width: 100%; }
    .cfs-slider .cfs-slides .cfs-caption {
      background: #000;
      opacity: 0.8;
      color: #FFF;
      margin: 0px;
      padding: 10px;
      max-height: 50%; }

.cfs-pager ul {
  margin: 0px;
  padding: 0px; }
.cfs-pager li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
  font-size: 2em; }
  .cfs-pager li:hover {
    color: #00AE00; }
.cfs-pager .cfs-active-pager {
  color: red; }

/*
  You should employ some sort of no-js fallback
  no-js class should be added to the html tag and removed/changed to just "js"
  if javascript is present
*/
.no-js .cfs-slider .cfs-slides > * {
  display: none; }
.no-js .cfs-slider .cfs-slides > *:first-child {
  display: block;
  visibility: visible; }
.no-js .cfs-controls {
  display: none; }
