/*
  Control Freak Slider Default Styles
  http://cfslider.mckmedia.ca/
  https://bitbucket.org/sherakama/cfslider
*/

@import "bourbon/bourbon";
@import "partials/mixins";


.cfs-slider {
  margin: 0px;
  padding: 0px;
  overflow:hidden;
  position: relative;

  .cfs-slides {
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow:hidden;
    
    li { 
      list-style-type: none;
      list-style-image: none;
      text-indent: 0;      
    } // li
    
    > *{
      padding: 0px;
      margin: 0px;
      position: relative; /* needed or animation heights get messed */
      display: block; /* needed or animation heights get messed */
    } // children tags
    
    > .cfs-active-slide {
       display: block;
      // visibility: visible;
    } // active slide
    
    img {
      max-width: 100%;
    } // image
    
    .cfs-caption {
      background: #000;
      opacity: 0.8;
      color: #FFF;
      margin: 0px;
      padding: 10px;
      max-height: 50%;
    }
    
    
  } // end cfs-slides

} // end cfs-slider


.cfs-controls {
 
} // end cfs-controls

.cfs-pager {
  ul {
    margin: 0px;
    padding: 0px;
  } // ul
  
  li {
    margin: 0px;
    padding: 0px;
    @include inline-block;
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
    font-size: 2em;
  
    &:hover {
      color: #00AE00;
    }
    
  }
  
  .cfs-active-pager {
    color: red;
  }
  
} // end cfs-pager

.cfs-counter {
  
} // end cfs-counter





/*
  You should employ some sort of no-js fallback
  no-js class should be added to the html tag and removed/changed to just "js"
  if javascript is present
*/

.no-js {
  .cfs-slider {
    .cfs-slides {
      > *{
        display: none;
      }
      > *:first-child {
        display: block;
        visibility: visible;
      }
    } // end cfs-slides
  }
  .cfs-controls {
    display: none;
  }
}