/* Image replacements */
@mixin ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

@mixin hidden { display: none; visibility: hidden; }
@mixin visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
@mixin visuallyhidden { &.focusable { &:focus, &:active { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; } } }
@mixin invisible { visibility: hidden; }

@mixin float-left { float:left; }
@mixin float-right { float:right; }

@mixin clear { clear:both; }
@mixin clear-left { clear: left; }
@mixin clear-left { clear: right; }

@mixin pie {
  behavior: url('/css/PIE/PIE.htc');
}

